<!DOCTYPE html>
<html>

<head>
    <title>Crear un nuevo usuario</title>
</head>

<body>
    <h1>Crear nuevo usuario de la Tarjeta de Credito</h1>
    <p>
        Ingrese los datos del usuario que desea crear
    </p>
    <form action="/crear-usuario">
        <div>
            Cédula: <input type="text" name="cedula" />
        </div>
        <div>
            Nombre: <input type="text" name="nombre" />
        </div>
        <div>
            Apellido: <input type="text" name="apellido" />
        </div>
        <div>
            Direccion: <input type="text" name="direccion" />
        </div>
        <div>
            Teléfono: <input type="text" name="telefono" />
        </div>
        <div>
            Correo: <input type="email" name="correo" />
        </div>
        <div>
            Departamento: <select name="codigo_departamento">
                <option value="05">Antioquia</option>
                <option value="11">Bogotá</option>
                <option value="76">Valle del Cauca</option>
            </select>
        </div>
        <div>
            Codigo Municipio: <input type="text" name="codigo_municipio" />
        </div>
        <input type="submit" value="Guardar" />
    </form>
</body>

</html>