<html>

<head></head>

<body>
    <h1>Administrador de Usuarios</h1>

    <div>
        <!-- La etiqueta z crea un hipervinculo, en el atributo href debe indicarse la URL a donde lleva el hipervinculo -->
        <a href="/new-user">Crear nuevo usuario</a>
        <!-- esta e suna URL relativa -->
    </div>

    <div>
        Si quieren aprender mas, pueden visitar esta pagina

        <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Cheatsheet">Mozilla Developer</a>
        <!-- Esta una URL absoluta -->
    </div>
</body>

</html>