<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>{{mensaje}}</h1>
    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <!-- El elemento tr describe una fila de la tabla -->
        <tr>
            <!-- Cada elemento td corresponde a una celda dentro de la fila -->
            <td>Cedula</td>
            <td>{{user.cedula}}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{user.nombre}}</td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>{{user.apellido}}</td>
        </tr>

    </table>


</body>

</html>